.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.dataTables_wrapper .dataTables_length {
    flex: 1;
}

.dataTables_wrapper .dataTables_filter {
    flex: 1;
    justify-content: flex-end;
    display: flex;
}

.dataTables_wrapper .dataTables_length label,
.dataTables_wrapper .dataTables_filter label {
    display: flex;
    align-items: center;
}

.dataTables_wrapper .dataTables_length select,
.dataTables_wrapper .dataTables_filter input {
    margin-left: 5px;
}

.dt-paging{
    display: none !important;
}

